<div class='tumblr-search'>
  <h1>Enter name of "tumblr"</h1>
  <form>
    <input class='form-control user-input' placeholder='tumblr username' autofocus>
    <button class='btn btn-danger user-submit' type='submit'>Continue</button>
  </form>
</div>
<div class='post-gallery'></div>
