<div class='tumblr-search'>
  <h1>Enter name of "tumblr"</h1>
  <form>
    <input class='form-control user-input' name='username' placeholder='tumblr username'>
    <button class='btn btn-danger' type='submit'>Continue</button>
  </form>
</div>
<div class='post-gallery'></div>
