<div class='post-search'>
  <h1>Enter name of "tumblr"</h1>
  <form>
    <p class='error-message'></p>
    <input class='form-control user-input' placeholder='tumblr name' autofocus>
    <button class='btn btn-danger user-submit' type='submit'>Continue</button>
  </form>
</div>
<i class="fa fa-spinner fa-spin"></i>
<div class='post-gallery fluid-container'></div>
