// Place all the styles related to the tumblr_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.tumblr-search {
  text-align: center;
  .user-input {
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

