// Place all the styles related to the tumblr_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.post-search {
  text-align: center;
  .user-input {
    width: 33%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.post-gallery {
  text-align: center;
  margin-top: 75px;
  .post {
    width: 400px;
    height: 250px;
    display: inline-block;
    margin: 5px;
  }
}

